@model LiteCommerce.DomainModels.ProductEx
@{
    ViewBag.Title = "Cập nhật thông tin mặt hàng";
}

<fieldset>
    <legend>Thông tin mặt hàng</legend>
    <form>
        <div class="form-group">
            <label>Tên mặt hàng:</label>
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @autofocus = "autofocus" })
        </div>
        <div class="form-group">
            <label>Giá:</label>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Ảnh:</label>
            <img src="@Model.Photo"/>
            @Html.TextBoxFor(m => m.Photo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Đơn vị tính:</label>
            @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Đơn vị tính:</label>
            @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
        </div>
    </form>
</fieldset>
<fieldset>
    <legend>Danh sách thuộc tính</legend>
    <form action="~/Product/DeleteAttributes/@Model.ProductID" method="post">
        <div class="row">
            @foreach (var item in Model.Attributes)
            {
                <input type="checkbox" name="attributesIds[]" value="@item.AttributeID" />
                <div class="form-group">
                    <label class="control-label col-md-2">Tên:</label>
                    <div class="col-md-10">
                        <p class="form-control-static">@item.AttributeName</p>
                    </div>

                    <label class="control-label col-md-2">Giá trị:</label>
                    <div class="col-md-10">
                        <p class="form-control-static">@item.AttributeValue</p>
                    </div>

                </div>
            }
        </div>
            <button class="btn btn-danger" type="submit">Xóa thuộc tính</button>
</form>
</fieldset>
<fieldset>
    <legend>Danh sách ảnh</legend>
    <form action="~/Product/DeleteGalleries/@Model.ProductID" method="post">
        <div class="row">
            @foreach (var item in Model.Galleries)
            {
                    <div class="col-md-3">
                        
                        <input type="checkbox" name="galleryIds[]" value="@item.GalleryID" />
                        <img src="@item.Photo" />
                        <label class="control-label col-md-6">Mô tả:</label>
                        <div class="col-md-6">
                            <p>@item.Description</p>
                        </div>
                        <br />
                    </div>
            }
        </div>
        <button class="btn btn-danger" type="submit">Xóa ảnh</button>
    </form>

</fieldset>
